::-moz-selection {
  color: #fff;
  background: #ffba5a;
}

::selection {
  color: #fff;
  background: #ffba5a;
}

@media (max-width: 991.98px) {
  .site-logo a {
    font-size: 27px;
  }
}

.site-hero {
  background-size: cover;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  position: auto;
  overflow-x: hidden;
}
.site-hero .heading {
  font-family: "Playfair Display", times, serif;
  font-weight: bold;
}
.site-hero .scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;

  color: #fff;
  overflow-x: hidden;
}
.site-hero.overlay:before {
  background: rgba(0, 0, 0, 0.45);
  content: "";
  position: absolute;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.site-hero.inner-page {
  height: 50vh;
  min-height: 700px;
}
.site-hero.inner-page.overlay:before {
  height: 50vh;
  min-height: 700px;
}

.site-hero-inner {
  height: 100vh;
  min-height: 700px;
}
.site-hero-inner .heading {
  font-size: 80px;
  font-family: "Playfair Display", times, serif;
  color: #fff;
  line-height: 2rem;
  font-weight: bold;
}
@media (max-width: 991.98px) {
  .site-hero-inner .heading {
    font-size: 40px;
    overflow: hidden;
  }
}
.site-hero-inner .sub-heading {
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  .site-hero-inner .sub-heading {
    font-size: 18px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1110px) {
  html {
    max-width: 974px;
    overflow-x: hidden;
  }
  .site-hero {
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}
